.homeImage {
    background-image: url(../Images/A9969F54-953D-424A-8708-24942B16DF8B.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}